<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>  
</head>
<body>
    <div>

        @RenderBody()
    </div>
    <footer>Living Car Park Copyright 2019</footer>
</body>

</html>
