<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
<body>

    <header class="container">
        <div class="center-block page-header">
            <img src="~/images/carpark.png" class="center-block" />
        </div>


        <h3 class="text-center">@ViewBag.Title</h3>

    </header>
    <div class="container">

        @RenderBody()

    </div>
    <div class="container"><footer class="text-center">Living Car Park Copyright 2019</footer></div>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>

</html>
