
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready()
        {
            alert("hej");
            setInterval(function () {
                $.ajax({

                    url: "@Url.Action("CarsArrivingAndLeaving", "CarPark")",
                    type:"GET",
                    success: function (data) {
                        
                      
                    }

                @*$.get(@Url.Action("CarsLeavingAndArriving","CarPark"),function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });*@
                });

            }, 10000
            );
        };

       
       
    </script>
</head>
@{
    ViewData["Title"] = "CarPark";
}

<h2>välkomment till carpark</h2>

