
@{
    ViewData["Title"] = "About";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/profilescss.css" rel="stylesheet" type="text/css" />
  

</head>

<h2>About this project</h2>
<div id="page-content">
    <div id="project-wrapper">
        <div id="profile-wrap">
            <h3>Co-authors</h3>
            <div class="profiles">
                <img class="profiles-images" src="~/images/desell.jpg"/>
                <p>Lorem ipsum dolor  </p>
            </div>
            <div class="profiles">
                <img class="profiles-images" src="~/images/mz.jpg"/>
                <p>I ma Marcus and considiering myself to be a fullstack developer</p>
            </div>
        </div>
    </div>
</div>

