@{ 
    Layout = null;
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/FadeIn.css" rel="stylesheet" type="text/css" />
    <script src="~/js/Fadein.js" type="text/javascript"></script>

</head>
<div id="wrapper">

    <div class="centering">

                    <h1 id="header" class="hiddenel">Welcome to</h1>
          
                    <img id="carparklogo" class="hiddenel" src="~/images/CarparkLogo.png" />
         
                    <p id="presentationtext" class="hiddenel">
                     This project is a virtual parkinghouse built in .net Core 2.2 with the purpose of learning more about programming.
                    The creators of this website had some free time to test their <b id="greenparagraph">"awesome"</b> skills.
                    </p>
           
             
                    <div id="hidebutton" class="hiddenel">
                        <a id="Fadebutton" class="btn btn-success hiddenel" asp-controller="Account" asp-action="LogIn" role="button">Continue to CarPark</a>
                    </div>
              

           
    </div>
</div>

